<div class="payments">
    <div class="payments__header">
        <span class="payments__header--title">Payments</span>
        <button class="payments__header--add-button" (click)="addPernamentPaymentModal()">Add pernament transfer</button>
    </div>
    <div class="payments__content">
        <div class="payments__content__header">
            <span class="payments__content__header--title">Pernament transfers List</span>
        </div>
        <div class="payments__content__list">
            <div class="payments__content__list--header">
                <div class="payments__content__list--header__icon"></div>
                <div class="payments__content__list--header__name">Name</div>
                <div class="payments__content__list--header__description">Title</div>
                <div class="payments__content__list--header__value">Value</div>
                <div class="payments__content__list--header__value">Frequency</div>
                <div class="payments__content__list--header__value">Next payment</div>
                <div class="payments__content__list--header__icon"></div>
            </div>
            <div class="payments__content__list--item">
                <div class="payments__content__list--item__icon">
                    <span class="material-icons-outlined title-icon">arrow_right_alt</span>
                </div>
                <span class="payments__content__list--item__name">Jane Doe</span>
                <span class="payments__content__list--item__description">for rough sex</span>
                <div class="payments__content__list--item__value">£ 0.00</div>
                <div class="payments__content__list--item__value">Monthly</div>
                <div class="payments__content__list--item__value">15 May</div>
                <div class="payments__content__list--item__actions">
                    <button class="payments__content__list--item__actions--remove">X</button>
                </div>
            </div>
        </div>
    </div>
</div>