<div class="payments">
    <div class="payments__header">
        <span class="payments__header--title">{{ 'payments.label' | translate }}</span>
        <button class="payments__header--add-button" (click)="addPernamentPaymentModal()">{{ 'payments.addPernamentTransfer' | translate }}</button>
    </div>
    <div class="payments__content">
        <div class="payments__content__header">
            <span class="payments__content__header--title">{{ 'payments.pernamentTransfersList' | translate }}</span>
        </div>
        <div class="payments__content__list">
            <div class="payments__content__list--header">
                <div class="payments__content__list--header__icon"></div>
                <div class="payments__content__list--header__name">{{ 'payments.name' | translate }}</div>
                <div class="payments__content__list--header__description">{{ 'payments.title' | translate }}</div>
                <div class="payments__content__list--header__value">{{ 'payments.value' | translate }}</div>
                <div class="payments__content__list--header__value">{{ 'payments.frequency' | translate }}</div>
                <div class="payments__content__list--header__value">{{ 'payments.nextPaymentDate' | translate }}</div>
                <div class="payments__content__list--header__icon"></div>
            </div>
            <div class="payments__content__list--item">
                <div class="payments__content__list--item__icon">
                    <span class="material-icons-outlined title-icon">arrow_right_alt</span>
                </div>
                <span class="payments__content__list--item__name">Jane Doe</span>
                <span class="payments__content__list--item__description">for rough sex</span>
                <div class="payments__content__list--item__value">£ 0.00</div>
                <div class="payments__content__list--item__value">Monthly</div>
                <div class="payments__content__list--item__value">15 May</div>
                <div class="payments__content__list--item__actions">
                    <button class="payments__content__list--item__actions--remove">X</button>
                </div>
            </div>
        </div>
    </div>
</div>