@import 'src/variables';

.language-selector {
    background-color: #EBEBF4;
    padding: 16px;
    border: 1px solid #EBEBF4;
    border-radius: 8px;

    &__header {
        &--title {
            font-size: 18px;
            color: $font-color;
            font-weight: 500;
        }
    }

    &__content {
        padding-left: 1rem;
        display: flex;
        gap: 2px;

        &--input {
            width: 250px;
        }
    }
}