@import 'src/variables';

.sidepanel {
    width: 250px;
    height: 100%;

    background-color: #EBEBF4;
    border-radius: 0px 24px 24px 0px;

    font-size: 18px;

    &__content {
        padding: 16px;
    }
}

.title {
    font-size: 18px;
    padding: 12px;

    font-size: 18px;
    color: $font-color;
    font-weight: 500;
}