<div id="map-container" class="map-wrapper">
    <google-map
        #map
        height="500px"
        width="100%"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
    >
        <map-marker
            *ngFor="let marker of markers"
            [position]="marker.position"
            [label]="marker.label"
            [title]="marker.title"
            [options]="marker.options"
        >
        </map-marker>
        <!-- <google-map-marker *ngFor="let atm of atms" [position]="atm.geometry.location"></google-map-marker> -->

    </google-map>
</div>