<div class="account__name-tile">
    <div class="account__name-tile__icon">
        <span class="material-icons-outlined title-icon">account_circle</span>
    </div>

   <div class="account__name-tile__name">
    {{ fullName }}
   </div>
</div>

<div class="widgets">
    <div class="ac-tile acccount-info">
        Account info:

    </div>
    <div class="row">
        <div class="ac-tile widgets-balance">
            Balance widget:
            <!-- sum of balance from all accounts and balance of each account -->
            <!-- <div class="balance__total">
                <div class="balance__total__title">Total balance</div>
                <div class="balance__total__amount">£ 0.00</div> -->
        </div>
        <div class="ac-tile predefined-receivers">
            Predefined receivers:
        </div>
    </div>

    <div class="ac-tile last-transactions">
        Last transactions:
    </div>
</div>
