<div class="sidepanel__content">
    <div class="title">
        <span class="material-icons-outlined title-icon">account_balance</span>
        {{ 'sidepanel.title' | translate }}
    </div>
    <div class="navigation">
        <div [routerLink]="'account-details'" [routerLinkActive]="['nav-item--is-active']"
            class="nav-item nav-item--account">
            <span class="material-icons-outlined nav-item--icon">person</span>
            {{ 'account.label' | translate }}
        </div>
        <div [routerLink]="'dashboard'" [routerLinkActive]="['nav-item--is-active']" class="nav-item">
            <span class="material-icons-outlined nav-item--icon">dashboard</span>
            {{ 'sidepanel.navigation.dashboard' | translate }}
        </div>
        <div [routerLink]="'payments'" [routerLinkActive]="['nav-item--is-active']" class="nav-item">
            <span class="material-icons-outlined nav-item--icon">receipt_long</span>
            {{ 'sidepanel.navigation.payments' | translate }}
        </div>
        <div [routerLink]="'transactions'" [routerLinkActive]="['nav-item--is-active']" class="nav-item">
            <span class="material-icons-outlined nav-item--icon">swap_horiz</span>
            {{ 'sidepanel.navigation.transactions' | translate }}
        </div>
        <div [routerLink]="" class="nav-item">
            <span class="material-icons-outlined nav-item--icon">groups</span>
            {{ 'sidepanel.navigation.accounts' | translate }}
        </div>
        <div [routerLink]="" class="nav-item">
            <span class="material-icons-outlined nav-item--icon">credit_card</span>
            {{ 'sidepanel.navigation.cards' | translate }}
        </div>
        <div [routerLink]="'atms'" class="nav-item">
            <span class="material-icons-outlined nav-item--icon">account_balance</span>
            {{ 'sidepanel.navigation.atms' | translate }}
        </div>
        <div [routerLink]="" class="nav-item">
            <span class="material-icons-outlined nav-item--icon">payments</span>
            {{ 'sidepanel.navigation.products' | translate }}
        </div>
        <div [routerLink]="'settings'" [routerLinkActive]="['nav-item--is-active']" class="nav-item">
            <span class="material-icons-outlined nav-item--icon">settings</span>
            {{ 'sidepanel.navigation.settings' | translate }}
        </div>
        <div (click)="logOut()" class="nav-item nav-item--last">
            <span class="material-icons-outlined nav-item--icon">logout</span>
            {{ 'sidepanel.navigation.logout' | translate }}
        </div>
    </div>
</div>