<div class="dashboard-container">
    <div class="dashboard-container__header">
        <div class="title">{{ title }}</div>
        
        <div>
            <app-accounts-widget
                [userId]="userId"
            ></app-accounts-widget>
        </div>
    </div>

    <div class="last-transactions">
        <h3 class="last-transactions__title">{{ 'common.lastTransactions' | translate }}</h3>
        <div class="last-transactions__item">
                <div class="last-transactions__item__icon">
                    <span class="material-icons-outlined title-icon">swap_horiz</span>
                </div>
                <span class="last-transactions__item__name">John Doe</span>
                <div class="last-transactions__item__icon">
                    <span class="material-icons-outlined title-icon">arrow_right_alt</span>
                </div>
                <span class="last-transactions__item__name">Jane Doe</span>
                <span class="last-transactions__item__description">for rough sex</span>
                <div class="last-transactions__item__value">£ 0.00</div>
        </div>
    </div>
</div>