<div class="settings">
    <div class="settings__header">
        <div class="settings__header__name-tile">
            <div class="settings__header__name-tile__icon">
                <span class="material-icons-outlined title-icon">settings</span>
            </div>
        
           <div class="settings__header__name-tile__name">
            {{ 'settings.label' | translate }}
           </div>
        </div>
    </div>
    <div class="settings__content">
        <div class="settings__content__language">
            <app-language-switch></app-language-switch>
        </div>
    </div>
</div>
