@import 'src/variables';

.settings {
    &__header {
        padding: 0 0 42px 0;

        &__name-tile {
            height: 70px;
            width: 200px;
            background-color: #EBEBF4;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0px 16px;
            gap: 16px;
    
    
            &__icon {
                display: flex;
                align-items: center;
                justify-content: center;
    
                width: 48px;
                height: 48px;
                background-color:#495cdaba;
                border-radius: 50%;
    
                span {
                    font-size: 36px;
                    color: #fff;
                }
            }
            &__name {
                font-size: 18px;
                color: #212948;
                font-weight: 500;
            }
        }
    }
}