<h1 mat-dialog-title>Add new account</h1>
<div mat-dialog-content class="dialog-input-wrapper">
  <mat-form-field appearance="fill">
    <mat-label>Account name</mat-label>
    <input matInput [(ngModel)]="accountName">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Account type</mat-label>
    <mat-select [ngModel]="accountType">
      <mat-option *ngFor="let type of accountTypes" [value]="type.value">
        {{type.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onAddClick()">Add</button>
</div>