<div class="add-account-dialog__header">
  <h1 mat-dialog-title>{{ 'account.addNewAccount' | translate }}</h1>
</div>
<div mat-dialog-content class="add-account-dialog__content">
  <mat-form-field appearance="fill">
    <mat-label>{{ 'account.accountName' | translate }}</mat-label>
    <input matInput [(ngModel)]="accountName">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ 'account.accountType' | translate }}</mat-label>
    <mat-select [ngModel]="accountType">
      <mat-option *ngFor="let type of accountTypes" [value]="type.value">
        {{ 'enums.accountType.' + type.viewValue | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions class="add-account-dialog__footer">
  <button (click)="onCancelClick()" class="add-account-dialog__footer--cancel">{{ 'common.cancel' | translate }}</button>
  <button (click)="onAddClick()" class="add-account-dialog__footer--submit">{{ 'common.save' | translate }}</button>
</div>