<h1 mat-dialog-title>{{ 'account.addNewAccount' | translate }}</h1>
<div mat-dialog-content class="dialog-input-wrapper">
  <mat-form-field appearance="fill">
    <mat-label>{{ 'account.accountName' | translate }}</mat-label>
    <input matInput [(ngModel)]="accountName">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ 'account.accountType' | translate }}</mat-label>
    <mat-select [ngModel]="accountType">
      <mat-option *ngFor="let type of accountTypes" [value]="type.value">
        {{ 'enums.accountType.' + type.viewValue | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">{{ 'common.cancel' | translate }}</button>
  <button mat-button (click)="onAddClick()">{{ 'common.save' | translate }}</button>
</div>