<ng-container *ngIf="!loading">
    <div class="register-container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="form" class="registerForm">
                    <div class="registerForm--columns">
                        <div class="registerForm--columns__column">
                            <h4>User details</h4>
                            <mat-form-field>
                                <mat-label>Username</mat-label>
                                <input type="text" formControlName="username" matInput />
                                <mat-error *ngIf="submitted && f['username'].errors">
                                    Username is required
                                </mat-error>
                            </mat-form-field>
                            <div class="registerForm--columns__row">
                                <mat-form-field>
                                    <mat-label>FirstName</mat-label>
                                    <input type="text" formControlName="firstname" matInput />
                                    <mat-error *ngIf="submitted && f['firstname'].errors">
                                        Firstname is required
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Lastname</mat-label>
                                    <input type="text" formControlName="lastname" matInput />
                                    <mat-error *ngIf="submitted && f['lastname'].errors">
                                        Lastname is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <mat-form-field>
                                <mat-label>Phone Number</mat-label>
                                <input type="text" formControlName="phoneNumber" matInput />
                            </mat-form-field>
                            <div class="registerForm--columns__row">
                                <mat-form-field>
                                    <mat-label>Password</mat-label>
                                    <input type="password" formControlName="password" matInput />
                                    <mat-error *ngIf="submitted && f['password'].errors">
                                        Password is required
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Confirm Password</mat-label>
                                    <input type="password" formControlName="confirm_password" matInput />
                                    <mat-error *ngIf="submitted && f['confirm_password'].errors">
                                        Confirm Password is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                       <div class="registerForm--columns__column">
                            <h4>Home Adress</h4>
                            <mat-form-field>
                                <mat-label>Address</mat-label>
                                <input type="text" formControlName="address" matInput />
                                <mat-error *ngIf="submitted && f['address'].errors">
                                    Address is required
                                </mat-error>
                            </mat-form-field>
                            <div class="registerForm--columns__row">
                                <mat-form-field>
                                    <mat-label>Postal Code</mat-label>
                                    <input type="text" formControlName="postalCode" matInput />
                                    <mat-error *ngIf="submitted && f['postalCode'].errors">
                                        Address is required
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>City</mat-label>
                                    <input type="text" formControlName="city" matInput />
                                    <mat-error *ngIf="submitted && f['city'].errors">
                                        city is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <mat-form-field>
                                <mat-label>Country</mat-label>
                                <input type="text" formControlName="country" matInput />
                                <mat-error *ngIf="submitted && f['country'].errors">
                                    Country is required
                                </mat-error>
                            </mat-form-field>
                                <mat-checkbox
                                    aria-label="My contact address is different from my home address"
                                    (click)="onClickShowForm('contact')"
                                    color="primary"
                                >
                                    My contact address is different from my home address
                                </mat-checkbox>

                                <mat-checkbox
                                    aria-label="My contact address is different from my home address"
                                    (click)="onClickShowForm('tax')"
                                    color="primary"
                                >
                                    My tax address is different from my home address
                                </mat-checkbox>

                            <ng-container *ngIf="showForm('contact')">
                                <h4>Home Adress</h4>
                                <mat-form-field>
                                    <mat-label>Address</mat-label>
                                    <input type="text" formControlName="contactAddress" matInput />
                                    <mat-error *ngIf="submitted && f['contactAddress'].errors">
                                        Address is required
                                    </mat-error>
                                </mat-form-field>
                                <div class="registerForm--columns__row">
                                    <mat-form-field>
                                        <mat-label>Postal Code</mat-label>
                                        <input type="text" formControlName="contactPostalCode" matInput />
                                        <mat-error *ngIf="submitted && f['contactPostalCode'].errors">
                                            Address is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>City</mat-label>
                                        <input type="text" formControlName="contactCity" matInput />
                                        <mat-error *ngIf="submitted && f['contactCity'].errors">
                                            city is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="showForm('tax')">
                                <h4>Tax Adress</h4>
                                <mat-form-field>
                                    <mat-label>Address</mat-label>
                                    <input type="text" formControlName="taxAddress" matInput />
                                    <mat-error *ngIf="submitted && f['taxAddress'].errors">
                                        Address is required
                                    </mat-error>
                                </mat-form-field>
                                <div class="registerForm--columns__row">
                                    <mat-form-field>
                                        <mat-label>Postal Code</mat-label>
                                        <input type="text" formControlName="taxPostalCode" matInput />
                                        <mat-error *ngIf="submitted && f['taxPostalCode'].errors">
                                            Address is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>City</mat-label>
                                        <input type="text" formControlName="taxCity" matInput />
                                        <mat-error *ngIf="submitted && f['taxCity'].errors">
                                            city is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                       </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-error>
                {{ errorMessage }}
            </mat-error>
            <mat-divider></mat-divider>
            <mat-card-footer>
                <div class="register-container__footer">
                    <button [disabled]="loading" mat-raised-button color="primary" type="submit" (click)="onClick()">
                        Register
                    </button>
                    <a routerLink="/login" class="btn btn-link">Login</a>
                </div>
            </mat-card-footer>
        </mat-card>
    </div>

</ng-container>
<ng-container *ngIf="loading">
    <div class="loading">
        <div>
            <mat-spinner></mat-spinner>
            <span class="mt-2">Loading...</span>
        </div>
    </div>
</ng-container>